In [2]:
import pandas as pd
from sklearn.ensemble import GradientBoostingRegressor

In [3]:
data=pd.read_excel("housing-train.xlsx")

In [4]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.79,36.64,11,32627,6445,28566,6082,2.3087,118800,<1H OCEAN
1,-121.44,38.43,3,39320,6210,16305,5358,4.9516,153700,INLAND
2,-117.74,33.89,4,37937,5471,16122,5189,7.4947,366300,<1H OCEAN
3,-118.44,33.98,21,18132,5419,7431,4930,5.3359,500001,<1H OCEAN
4,-117.78,34.03,8,32054,5290,15507,5050,6.0191,253900,<1H OCEAN

In [5]:
x_train=data.iloc[:,:-2]

In [6]:
y_train=data.iloc[:,-2]

In [7]:
y_train.values

array([118800, 153700, 366300, ..., 127100,  68200, 247100])

In [8]:
model=GradientBoostingRegressor(
    n_estimators=200,
    learning_rate=0.05,
    max_depth=3,
    random_state=42)

In [9]:
model=model.fit(x_train.values,y_train.values)

In [10]:
test_data=pd.read_excel("housing-test.xlsx")

In [11]:
x_test=test_data.iloc[:,:-2]

In [12]:
prediction=model.predict(x_test.values)

In [13]:
actual=test_data.iloc[:,-2]

In [15]:
from sklearn.metrics import r2_score

In [16]:
r2 = r2_score(actual, prediction)
print("R2 score:", r2)

R2 score: 0.7596567386765248

In [17]:
pred=model.predict([[-119.4,30.4,23,45632,8745,30000,4000,5.8765]])

In [18]:
pred

array([456549.2508357])